body {
    background-image: linear-gradient(to right, #343432, #131516);
    color: #F2F3F4;
    font-family: monospace;
}

.button-off {
    background: 0%;
    color: #AAA7AD;
    border-style: solid;
    border: 0;
    border-radius: 7%;
    text-decoration: none;
    outline: none;
}

button {
    border: none;
    outline: none;
    box-shadow: none;
}
.button-on {
    background: 0%;
    color: #DFC98A;
}

button:hover {
    color: #DFC98A;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 10%
}

.div-sizing {
    width: 80vw;
    height: 50vh
}

a {
    color: #AAA7AD;
}

a:hover {
    color: #DFC98A;
}

h1 {
    color: #FDA50F;
    font: 'Lobster Two', Helvetica, sans-sherif;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.5);
    padding: 10px;
}

h4 {
    color: #DFC98A;
}

h3 {
    color: #DFC98A;
}
