.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fade-box {
    animation: fadeEffect 1s ease;
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ---------------------------------------------------------
* 
*
*            THE STYLING FOR THE HEADER COMPONENT
*
*
*
*
* ---------------------------------------------------------- */

.nav {
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
}

.header {
    display: flex;
    max-width: 90vw;
    overflow: visible;
    box-shadow: 0 2px 4px lightgrey;
    clip-path: inset(2px 2px -2px 2px);
    position: relative;
}

.header > h1 {
    font-family: 'Playwrite Es Deco', sans-serif;
    align-self: flex-end;
    margin: 0;
    margin-bottom: 1.6vh;
    margin-right: 2vw;
    font-size: 2rem;
    text-shadow: -2px 2px 1.4px grey;
    color: #dc8a78;
}

.profilepic {
    height: 20vh;
    border-radius: 5px;
    margin: 4vh;
    margin-left: 1.2vw;
    margin-right: 1vw;
    box-shadow: 0 2px 4px grey;
}

.language-div {
    display: flex;
    height: 3vh;
    padding-left: 3px;
    align-items: center;
    position: absolute;
    top: 4vh;
    right: 0vh;
    box-shadow: 2px 4px 8px lightgrey;
}

.language-button {
    border: none;
    background-color: transparent;
    color: #4c4f69; 
    cursor: pointer;
}

/* ---------------------------------------------------------
* 
*
*            THE STYLING FOR THE MAIN COMPONENT
*
*
*
*
* ---------------------------------------------------------- */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40vw;
    max-width: 90vw;
    box-shadow: 0 2px 4px lightgrey;
    clip-path: inset(2px 2px -2px 2px);
    margin-bottom: 1vh;
}

@media (min-width: 768px) {
    .main {
        max-width: 42.4vw;
    }
}

.main-div {
    margin-left: 1vw;
    margin-right: auto;
}

.main-div h1 {
    font-family: 'Montserrat', sans-serif;
    align-self: flex-end;
    margin: 0;
    margin-bottom: 1.6vh;
    margin-right: 2vw;
    font-size: 2rem;
    color: #6c6f85;
}

.main--cv-div p {
    margin-top: -2vh;
    margin-bottom: 3vh;
}

.main-div h3 {
    font-family: 'Montserrat', sans-serif;
    align-self: flex-end;
    margin: 0;
    margin-right: 2vw;
    font-size: 1.6rem;
    color: #5c5f77;
}

.main--h3-div {
    display: flex;
    align-items: center;
}

.main--cv-faw {
    color: #dc8a78;
    font-size: 2rem;
    margin: 5px;
    margin-bottom: 0;
}

.main--date {
    font-size: 0.8rem;
    font-style: normal;
    font-weight: normal;
    color: #4c4f69
}

.skills-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills--inner-div {
    display: inline-block;
    position: relative;
}

.skills--inner-div ul {
    margin-top: 0;
    color: #4c4f69;
    list-style-type: disc;
}

.skills--inner-div ul li::marker {
    color: #ff7900;
}

.skills--inner-div h5 {
    color: #4c4f69;
    margin-bottom: 0;
    margin-left: 2vw;
}

/* ---------------------------------------------------------
* 
*
*            THE STYLING FOR THE CONTACT COMPONENT
*
*
*
*
* ---------------------------------------------------------- */

.contact-div {
    font-size: 0.6rem;
    justify-content: right;
    margin-left: 1vw;
    color: #4c4f69;
}

.contact-div > h4 {
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    margin-right: auto;
}

.contact--inner-links {
    display: flex;
    align-items: center;
    margin-left: -0.5vw;
}

.contact--icon {
    color: #4c4f69;
    margin: 5px;
    font-size: 1.2rem;
}

/* ---------------------------------------------------------
* 
*
*            THE STYLING FOR THE NAVIGATION COMPONENT
*
*
*
*
* ---------------------------------------------------------- */

.lower-part {
    display: flex;
    max-width: 90vw;
    margin-bottom: 3vh;
}

.dropdown-button {
    display: block;
    border: none;
    background-color: transparent;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
    color: #4c4f69;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}

.dropdown--color {
    font-size: 1.6rem;
}

.dropdown {
    margin-left: auto;
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 4vh;
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 0;
    right: 100%;
    min-height: 4vh;
    min-width: 8vw;
    background-color: #f5f5f5;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
    padding: 0;
    font-size: 0;
    animation: rotateMenu 300ms ease-in-out forwards;
    transform-origin: bottom center;
    box-sizing: border-box;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: #dc8a78;
    color: #F5F5F5;
}

.dropdown--content-button {
    min-height: 2vh;
    min-width: 8vw;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    height: auto;
    margin: 0;
    border: none;
}

.dropdown--content-button:hover {
    background-color: #dc8a78;
}

.dropdown--content-button:hover p {
    color: #F5F5F5;
}

.dropdown--content-button p {
    font-size: 0.9rem;
    float: left;
}

.clicked--button { 
    background-color: #4c4f69;
    color: #F5F5F5;
}

.clicked--button:disabled:hover {
    background-color: #4c4f69;
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg) 
    }
    100% {
        transform: rotateX(0deg) 
    }
}

